In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import StructType, StructField, IntegerType,FloatType

In [0]:
#dbutils.fs.rm('dbfs:/FileStore/tables',True)

Out[23]: True

In [0]:
def read_file(fileformat,path,**options):
    df=spark.read.format(fileformat).options(**options).load(path)
    return df

In [0]:
def summary_df(df):
    return df.summary()

In [0]:
def null_per(df):
    schema = StructType([ \
        StructField("Column",StringType(),True), \
        StructField("Null_Percentage",StringType(),True)
    ])
    emptyRDD = spark.sparkContext.emptyRDD()
    resultdf = spark.createDataFrame([], schema=schema)
    for i in df.columns:
        df_count_null=df.select(col(i)).filter(col(i).isNull() | (col(i) == '')).count()
        df_nnul= spark.createDataFrame([[f'{i}',f"{df_count_null*100/df.count()} %" ]],schema=schema)
        resultdf=resultdf.union(df_nnul)
    return resultdf.orderBy(desc("Null_Percentage"))

In [0]:
def unique_values(df):
    resultdf = None
    for i in df.columns:
        unique_values_count = df.select(i).distinct().count()
        data = [(i, unique_values_count)]
        schema = StructType([
            StructField("Column", StringType(), True),
            StructField("UniqueValuesCount", IntegerType(), True)
        ])
        df_res = spark.createDataFrame(data, schema=schema)
        if resultdf is None:
            resultdf = df_res
        else:
            resultdf = resultdf.union(df_res)
    return resultdf.orderBy("UniqueValuesCount")

In [0]:
def count_of_unique_value(df,column):
    distinct_value_counts = df.groupBy(column).agg(count("*").alias("Count"))
    return distinct_value_counts.orderBy(desc("Count"))

In [0]:
def miss_matched(df,Dictt):
    schema = StructType([ \
        StructField("Column",StringType(),True), \
        StructField("MismatchPercentage",StringType(),True)
    ])
    resultdf = spark.createDataFrame([], schema=schema)
    for i,y in Dictt.items():
        df_regex_not_like_count = df_1.select(col(i)).filter(~col(i).rlike(y)).count()
        df_for_loop= spark.createDataFrame([[f'{i}',f"{df_regex_not_like_count*100/df.count()} %" ]],schema=schema)
        resultdf=resultdf.union(df_for_loop)
    return resultdf.orderBy(desc("MismatchPercentage"))

Column,MismatchPercentage
age,7.5 %
gender,7.5 %
first_name,0.0 %

In [0]:
schema = StructType([
    StructField("rank", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("forbes_id", StringType(), True),
    StructField("net_worth", IntegerType(), True),
    StructField("age4", FloatType(), True),
    StructField("age_range", StringType(), True),
    StructField("country", StringType(), True),
    StructField("source", StringType(), True),
    StructField("industry", StringType(), True),
    StructField("Age9", StringType(), True),
    StructField("Source of Wealth", StringType(), True),
    StructField("Self-Made Score", StringType(), True),
    StructField("Philanthropy Score", StringType(), True),
    StructField("Residence", StringType(), True),
    StructField("Citizenship", StringType(), True),
    StructField("Marital Status", StringType(), True),
    StructField("Children", StringType(), True),
    StructField("Education", StringType(), True),
    StructField("Bachelor", StringType(), True),
    StructField("Master", StringType(), True),
    StructField("Doctorate", StringType(), True),
    StructField("Drop Out", StringType(), True),
    StructField("Self Made", StringType(), True)
])

In [0]:
df=read_file('csv',"dbfs:/FileStore/tables/forbes_2640_billionaires.csv",header=True,schema=schema)

In [0]:
summary_df(df).display()

summary,rank,name,forbes_id,net_worth,age4,age_range,country,source,industry,Age9,Source of Wealth,Self-Made Score,Philanthropy Score,Residence,Citizenship,Marital Status,Children,Education,Bachelor,Master,Doctorate,Drop Out,Self Made
count,2640,2640,2640,2640,2575,2640,2640,2640,2640,2555,2639,558,411,2581,2629,2089,1598,1415,1416,1416,1416,1416,2640
mean,1289.159090909091,null,null,4.623787878787917,65.13864077669903,6.782954545454546,null,null,null,65.45714285714286,null,6.586021505376344,1.927007299270073,null,null,null,2.969336670838548,null,0.6864406779661016,0.3700564971751412,0.03672316384180791,0.06002824858757062,0.6863636363636364
stddev,739.6937255187028,null,null,9.834240939420306,13.258934406133013,1.7223573817784346,null,null,null,13.245203578351383,null,2.6445197450128655,1.021488892980818,null,null,null,1.67517090350861,null,0.4641034222933681,0.48299009455141895,0.18814774188797712,0.23762309269889065,0.4640583660212419
min,1,A. Jayson Adair,a-jayson-adair,1.0,101.0,0,Algeria,3D printing,Automotive,100.0,"3D printing, Self Made",1.0,1.0,"A Coruña, Spain",Algeria,Divorced,1.0,"Associate in Arts/Science, Brevard Community College; Bachelor of Arts/Science, Southern College of Optometry; Doctorate, Southern College of Optometry",0.0,0.0,0.0,0.0,0
25%,659.0,null,null,1.5,56.0,6.0,null,null,null,56.0,null,5.0,1.0,null,null,null,2.0,null,0.0,0.0,0.0,0.0,0.0
50%,1312.0,null,null,2.3,65.0,7.0,null,null,null,66.0,null,8.0,2.0,null,null,null,3.0,null,1.0,0.0,0.0,0.0,1.0
75%,1905.0,null,null,4.2,75.0,8.0,null,null,null,75.0,null,8.0,2.0,null,null,null,4.0,null,1.0,1.0,0.0,0.0,1.0
max,99,Zygmunt Solorz-Zak,zygmunt-solorz-zak,94.5,99.0,9,Zimbabwe,software services,Telecom,99.0,"waste management, Self Made",9.0,5.0,"torino, Italy",Zimbabwe,"Widowed, Remarried",9.0,error,1.0,1.0,1.0,1.0,1

In [0]:
df.printSchema()

root
 |-- rank: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- forbes_id: string (nullable = true)
 |-- net_worth: integer (nullable = true)
 |-- age4: float (nullable = true)
 |-- age_range: string (nullable = true)
 |-- country: string (nullable = true)
 |-- source: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- Age9: string (nullable = true)
 |-- Source of Wealth: string (nullable = true)
 |-- Self-Made Score: string (nullable = true)
 |-- Philanthropy Score: string (nullable = true)
 |-- Residence: string (nullable = true)
 |-- Citizenship: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Children: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Bachelor: string (nullable = true)
 |-- Master: string (nullable = true)
 |-- Doctorate: string (nullable = true)
 |-- Drop Out: string (nullable = true)
 |-- Self Made: string (nullable = true)

In [0]:
df.summary().display()

summary,rank,name,forbes_id,net_worth,age4,age_range,country,source,industry,Age9,Source of Wealth,Self-Made Score,Philanthropy Score,Residence,Citizenship,Marital Status,Children,Education,Bachelor,Master,Doctorate,Drop Out,Self Made
count,2640,2640,2640,0,2575,2640,2640,2640,2640,2555,2639,558,411,2581,2629,2089,1598,1415,1416,1416,1416,1416,2640
mean,1289.159090909091,null,null,null,65.13864077669903,6.782954545454546,null,null,null,65.45714285714286,null,6.586021505376344,1.927007299270073,null,null,null,2.969336670838548,null,0.6864406779661016,0.3700564971751412,0.03672316384180791,0.06002824858757062,0.6863636363636364
stddev,739.6937255187028,null,null,null,13.258934406133013,1.7223573817784346,null,null,null,13.245203578351383,null,2.6445197450128655,1.021488892980818,null,null,null,1.67517090350861,null,0.4641034222933681,0.48299009455141895,0.18814774188797712,0.23762309269889065,0.4640583660212419
min,1,A. Jayson Adair,a-jayson-adair,null,18.0,0,Algeria,3D printing,Automotive,100.0,"3D printing, Self Made",1.0,1.0,"A Coruña, Spain",Algeria,Divorced,1.0,"Associate in Arts/Science, Brevard Community College; Bachelor of Arts/Science, Southern College of Optometry; Doctorate, Southern College of Optometry",0.0,0.0,0.0,0.0,0
25%,659,null,null,null,56.0,6.0,null,null,null,56.0,null,5.0,1.0,null,null,null,2.0,null,0.0,0.0,0.0,0.0,0.0
50%,1312,null,null,null,65.0,7.0,null,null,null,66.0,null,8.0,2.0,null,null,null,3.0,null,1.0,0.0,0.0,0.0,1.0
75%,1905,null,null,null,75.0,8.0,null,null,null,75.0,null,8.0,2.0,null,null,null,4.0,null,1.0,1.0,0.0,0.0,1.0
max,2540,Zygmunt Solorz-Zak,zygmunt-solorz-zak,null,101.0,9,Zimbabwe,software services,Telecom,99.0,"waste management, Self Made",9.0,5.0,"torino, Italy",Zimbabwe,"Widowed, Remarried",9.0,error,1.0,1.0,1.0,1.0,1

In [0]:
null_per(df).display()

Column,Null_Percentage
Philanthropy Score,84.43181818181819 %
Self-Made Score,78.86363636363636 %
Education,46.40151515151515 %
Drop Out,46.36363636363637 %
Doctorate,46.36363636363637 %
Master,46.36363636363637 %
Bachelor,46.36363636363637 %
Children,39.46969696969697 %
Age9,3.2196969696969697 %
Marital Status,20.87121212121212 %
age4,2.462121212121212 %
Residence,2.234848484848485 %
net_worth,100.0 %
Citizenship,0.4166666666666667 %
Source of Wealth,0.03787878787878788 %
Self Made,0.0 %
industry,0.0 %
source,0.0 %
country,0.0 %
age_range,0.0 %
rank,0.0 %
forbes_id,0.0 %
name,0.0 %

In [0]:
print(df.columns)

['rank', 'name', 'forbes_id', 'net_worth', 'age4', 'age_range', 'country', 'source', 'industry', 'Age9', 'Source of Wealth', 'Self-Made Score', 'Philanthropy Score', 'Residence', 'Citizenship', 'Marital Status', 'Children', 'Education', 'Bachelor', 'Master', 'Doctorate', 'Drop Out', 'Self Made']

In [0]:
unique_values(df).display()

Column,UniqueValuesCount
Self Made,2
Bachelor,3
Drop Out,3
Doctorate,3
Master,3
Philanthropy Score,6
Marital Status,9
age_range,11
Self-Made Score,11
Children,16
industry,18
country,77
Citizenship,78
Age9,78
age4,80
rank,219
net_worth,219
Residence,773
source,905
Source of Wealth,1044
Education,1142
name,2638
forbes_id,2640

In [0]:
count_of_unique_value(df,'country').display()

country,Count
United States,735
China,494
India,169
Germany,126
Russia,104
Hong Kong,66
Italy,64
Canada,63
Taiwan,52
United Kingdom,52
Brazil,51
Australia,47
France,43
Switzerland,41
Japan,40
Sweden,39
Singapore,36
Israel,30
South Korea,30
Indonesia,29
Thailand,28
Spain,27
Turkey,26
Malaysia,18
Philippines,14
Mexico,14
Norway,12
Netherlands,12
Czech Republic,11
Austria,11
Ireland,9
Cyprus,9
Denmark,8
Finland,7
Chile,7
Poland,7
Greece,6
Lebanon,6
Romania,6
Egypt,6
Kazakhstan,6
Vietnam,6
Argentina,5
Ukraine,5
South Africa,5
Belgium,4
Peru,4
United Arab Emirates,4
Colombia,4
Nigeria,3
Monaco,3
New Zealand,3
Hungary,3
Slovakia,2
Qatar,2
Morocco,2
Oman,2
Georgia,2
Bulgaria,2
Algeria,1
Macau,1
Guernsey,1
St. Kitts and Nevis,1
Barbados,1
Bangladesh,1
Liechtenstein,1
Panama,1
Venezuela,1
Iceland,1
Zimbabwe,1
Estonia,1
Armenia,1
Eswatini (Swaziland),1
Belize,1
Tanzania,1
Portugal,1
Nepal,1

In [0]:
count_of_unique_value(df,'industry').display()

industry,Count
Finance & Investments,372
Manufacturing,324
Technology,314
Fashion & Retail,266
Food & Beverage,212
Healthcare,201
Real Estate,193
Diversified,187
Energy,100
Media & Entertainment,91
Metals & Mining,74
Automotive,73
Service,53
Construction & Engineering,45
Logistics,40
Sports,39
Telecom,31
Gambling & Casinos,25

In [0]:
df_1=read_file('csv',"dbfs:/FileStore/tables/sample_data_for_data_profiling.csv",header=True)

In [0]:
df_1.display()

id,first_name,last_name,gender,age,education,occupation,income,street_address,city,state
1,Madaline,Murphy,female,24,Doctoral,Botanist,116989,384-7572 Risus Ave,New York City,New York
2,Kristian,Stewart,Male,24,Upper secondary,Salesman,45736,Ap #139-5202 Donec Ave,Los Angeles,null
3,Aston,Baker,Male,18,Master,Photographer,185036,Ap #536-5718 Orci Rd.,Chicago,Illinois
4,Brooke,Holmes,Female,30,Primary,Social Worker,66673,"P.O. Box 961, 1525 Eu Rd.",Houston,Texas
5,Jenna,Crawford,Female,28,Doctoral,Actor,93689,"P.O. Box 940, 7197 Cursus, St.",Phoenix,null
6,Dale,Williams,Male,24,Primary,Dancer,183076,"P.O. Box 351, 3083 Nulla Ave",null,Pennsylvania
7,Garry,Hall,Male,20,Master,Actor,75410,"P.O. Box 659, 6221 Ligula. Road",San Antonio,Texas
8,Darcy,Barnes,Female,30,Doctoral,Lawer,155934,"P.O. Box 375, 3299 Velit. Av.",San Diego,California
9,Reid,Sullivan,Male,22,Master,Astronomer,55463,"P.O. Box 351, 860 A, Rd.",Dallas,Texas
10,Daniel,Bailey,Male,null,Master,Singer,122878,5847 Eget Av.,Austin,Texas
11,Mike,Stevens,Male,30,Master,Singer,156289,Ap #699-3513 Vitae Rd.,San Jose,California
12,Lucas,Spencer,Male,26,Upper secondary,Graphic Designer,74585,7496 Turpis. Av.,Fort Worth,Texas
13,Freddie,Ross,Male,155,Master,Composer,145756,8218 Faucibus Rd.,Jacksonville,Florida
14,Ned,Fowler,Male,24,Lower secondary,Driver,46787,9103 Ligula Ave,Columbus,Ohio
15,Eddy,Russell,Male,27,Upper secondary,Singer,100969,"P.O. Box 594, 9775 Sociis Road",Charlotte,North Carolina
16,Justin,Jones,Male,null,Bachelor,Hairdresser,62392,"P.O. Box 730, 1621 Imperdiet, Rd.",null,Indiana
17,Sawyer,Harrison,Male,30,Primary,Firefighter,40433,"P.O. Box 674, 1789 Non, Ave",San Francisco,California
18,Nicole,Hunt,Female,-21,Bachelor,Police Officer,199284,"P.O. Box 431, 192 Egestas. Rd.",null,Washington
19,Eric,Parker,Male,30,Lower secondary,Lawer,76530,3296 Posuere Ave,Denver,Colorado
20,Paige,Phillips,Female,null,Master,Biochemist,165108,7290 Est Road,null,District of Columbia
21,Adam,Carroll,Male,null,Doctoral,Social Worker,145042,6085 Magna. Rd.,Boston,Massachusetts
22,James,Elliott,Male,27,Bachelor,Historian,167677,361-6768 Adipiscing Avenue,El Paso,Texas
23,Michelle,Cooper,Female,null,Primary,Aeroplane Pilot,140206,259-8538 Tempor Avenue,Nashville,Tennessee
24,Byron,Riley,Male,25,Doctoral,Police Officer,74346,7175 Nunc Road,Oklahoma City,Oklahoma
25,Rubie,Evans,Female,28,Primary,Florist,169560,"P.O. Box 775, 1414 Quis Rd.",Las Vegas,Nevada
26,Chloe,Howard,Female,28,Doctoral,Astronomer,163858,Ap #873-1487 Parturient Road,null,Michigan
27,Alisa,Brooks,Unknown,25,Bachelor,Lawer,110104,"7916 Et, St.",Portland,Oregon
28,Owen,Hall,Male,18,Master,Accountant,147553,Ap #438-2248 Diam St.,Memphis,Tennessee
29,Luke,Taylor,Male,19,Bachelor,Astronomer,120829,"P.O. Box 121, 8746 Imperdiet Rd.",Louisville,Kentucky
30,Brianna,Wright,Female,28,Primary,Social Worker,177048,"989-5816 Amet, Rd.",Milwaukee,Wisconsin
31,Kirsten,Kelley,Female,null,Upper secondary,Fine Artist,88530,"P.O. Box 584, 866 Fermentum Av.",Baltimore,Maryland
32,Harold,Murray,Male,-18,Master,Interior Designer,179757,585-1461 Luctus Av.,null,New Mexico
33,John,Carter,Male,23,Doctoral,Historian,87568,891-8180 Lorem Rd.,Tucson,Arizona
34,Isabella,Cole,Female,29,Lower secondary,Baker,94434,"P.O. Box 988, 2100 Dui, Avenue",Mesa,Arizona
35,Patrick,Riley,Unknown,null,Doctoral,Geologist,44996,"P.O. Box 589, 2453 Cursus. Street",Fresno,California
36,Ted,Mason,Male,20,Doctoral,Meteorologist,74317,830-6992 Donec Avenue,Sacramento,California
37,Byron,Hunt,Male,27,Doctoral,Auditor,177725,4716 Ipsum Avenue,Atlanta,Georgia
38,Mike,Harper,Male,18,Master,Lawer,150491,Ap #311-9612 Phasellus Avenue,Kansas City,Missouri
39,Amanda,Payne,Female,24,Doctoral,Interpreter,135604,Ap #835-1398 Dolor. Street,Colorado Springs,Colorado
40,Alberta,Morris,Female,null,Master,Dancer,83600,2121 Sollicitudin Rd.,null,North Carolina

In [0]:
summary_df(df_1).display()

summary,id,first_name,last_name,gender,age,education,occupation,income,street_address,city,state
count,40,40,40,40,32,40,40,40,40,33,38
mean,20.5,null,null,null,26.3125,null,null,117556.55,null,null,null
stddev,11.69045194450012,null,null,null,26.182285934849023,null,null,47448.1794122377,null,null,null
min,1,Adam,Bailey,Female,-18,Bachelor,Accountant,100969,2121 Sollicitudin Rd.,Atlanta,Arizona
25%,10.0,null,null,null,20.0,null,null,74585.0,null,null,null
50%,20.0,null,null,null,25.0,null,null,116989.0,null,null,null
75%,30.0,null,null,null,28.0,null,null,156289.0,null,null,null
max,9,Ted,Wright,female,30,Upper secondary,Social Worker,94434,"P.O. Box 988, 2100 Dui, Avenue",Tucson,Wisconsin

In [0]:
null_per(df_1).display()

Column,Null_Percentage
state,5.0 %
age,20.0 %
city,17.5 %
street_address,0.0 %
income,0.0 %
occupation,0.0 %
education,0.0 %
id,0.0 %
gender,0.0 %
last_name,0.0 %
first_name,0.0 %

In [0]:
unique_values(df_1).display()

Column,UniqueValuesCount
gender,4
education,6
age,16
state,26
occupation,27
city,34
last_name,37
first_name,38
street_address,40
income,40
id,40

In [0]:
count_of_unique_value(df_1,'state').display()

state,Count
Texas,6
California,5
null,2
North Carolina,2
Arizona,2
Tennessee,2
Colorado,2
Ohio,1
Oregon,1
Pennsylvania,1
Nevada,1
Washington,1
Illinois,1
Oklahoma,1
District of Columbia,1
New Mexico,1
Missouri,1
Georgia,1
Michigan,1
Maryland,1
Massachusetts,1
Kentucky,1
Florida,1
Indiana,1
New York,1
Wisconsin,1

In [0]:
count_of_unique_value(df_1,'city').display()

city,Count
null,7
Phoenix,1
Dallas,1
San Antonio,1
Louisville,1
Los Angeles,1
Sacramento,1
San Diego,1
San Francisco,1
Nashville,1
Oklahoma City,1
Portland,1
Columbus,1
Memphis,1
Austin,1
El Paso,1
Milwaukee,1
Chicago,1
Atlanta,1
Fresno,1
Las Vegas,1
Kansas City,1
San Jose,1
Colorado Springs,1
Tucson,1
New York City,1
Houston,1
Jacksonville,1
Baltimore,1
Mesa,1
Charlotte,1
Fort Worth,1
Denver,1
Boston,1

In [0]:
regex = {'age': '^[0-99]{1,2}$', 'first_name': '^[a-zA-Z]*$', 'gender': '^M(ale)?$|^F(emale)?$'}
miss_matched(df,regex).display()

Column,MismatchPercentage
age,7.5 %
gender,7.5 %
first_name,0.0 %

3